settings.inc.php
*/.DS_Store
templates_c
.DS_Store
admin/ajax/.DS_Store
admin/.DS_Store
templates/.DS_Store
templates_c/2de7cba79c73c833fe6ccf95ec7a906b08e237b9.fr.lang.config.php
tmp
install/.DS_Store
